.banner {
  height: 550px;
  background-color: #fff;
  position: relative;
  display: flex;
}

.image_container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  height: 550px;
  overflow: hidden;
  scroll-behavior: smooth;
  position: relative;
}

.banner_image {
  width: 100%;
  -webkit-mask-image: linear-gradient(180deg,#000 30%,#00000000);
  mask-image: linear-gradient(180deg, #000 30%, #000);
}

.image_container::after {
  position: absolute;
  content: "";
  height: 280px;
  width: 100%;
  background: rgb(5, 5, 5);
  background: linear-gradient(180deg, rgba(5, 5, 5, 0) 0%, #EAEDED 78%);
  bottom: 0;
}

.left-btn{
  width: 60px;
  height: 250px;
  position: absolute;
  left: 5px;
  font-size: 40px;
  background-color: transparent;
  border: none;
  color: #000;
  border: 3px;
  z-index: 5;  
}

.right-btn{
  width: 60px;
  height: 250px;
  position: absolute;
  right: 5px;
  font-size: 40px;
  background-color: transparent;
  border: none;
  color: #000;
  border-radius: 3px;
  z-index: 5;  
}

.right-btn:focus, .left-btn:focus{
  color: #fff;
  box-shadow: inset 0 0 0 2px #fff, inset 0 0 0 4px #008296;  
}

.dots {
  display: flex;
  position: absolute;
  bottom: 160px;
  left: 50%;
  transform: translateX(-50%);
}

.point {
  width: 10px;
  height: 10px;
  background-color: #a2a2a2;
  border-radius: 50%;
  margin: 0px 5px;
  cursor: pointer;
  transition: 0.5s;
}